## Integrantes

1. 
2. 
3. 
4.

# Instrucciones

El laboratorio tiene 6 ptos, donde obtener 6 ptos equivale a un 7.0 y 0 ptos un 1.0. 

El formato de entrega será subir a u-cursos un Jupyter notebook
laboratorio2.ipynb, que se debe ejecutar sin errores desde la primera celda a la última. Todo el código debe estar en el mismo notebook, el código debe estar comentado y testeado, el notebook debe estar escrito en forma de informe técnico, escribiendo una celda markdown antes o después de cada celda de código que arroja algún output.

# Laboratorio 2: Visualización

El análisis exploratorio de los datos (EDA) es uno de los primeros pasos en un proyecto de minería de datos luego de la comprensión del problema/negocio y la selección de los datos. Es de suma importancia ya que permite corroborar hipótesis, detectar outliers, estructurar el modelamiento de los datos, resolver problemas de los datos e iterar en el entendimiento del problema.

Algunos de los principales desafíos son como visualizar datos no estructurados (como texto), visualizar estructuras de datos complejas como redes y visualizar conjunto de datos de alta dimensionalidad.

## 1. Teórico, 2 ptos (0.5ptos c/u)

1.1 Por qué la visualización de datos es tan relevante en el análisis exploratorio de datos.

1.2 En qué contexto debiese utilizar un gráfico de barras, cúando debería utilizar un gráfico de barras porcentual por sobre uno basado en frecuencia (de un ejemplo). 

1.3 En qué contexto debiese utilizar un histograma, cúando debería utilizar un histograma de densidad por sobre uno basado en frecuencia (de un ejemplo). 

1.4 Busque una imagen en internet en el que se haya hecho un mal uso de un gráfico y reportela justificando porque fue mal elaborada dicha visualización (además inserte el link a la visualización)
Ejemplo: https://www.biobiochile.cl/noticias/nacional/chile/2017/11/07/los-errores-del-grafico-que-mostro-pinera-durante-el-debate.shtml

## 2. Aplicación, 4 ptos

---
Considere el problema que enfrenta una entidad financiera que tiene altas tasas de fuga voluntaria. Esta institución no tiene claro cuál es el perfil característico que tienen los clientes fugitivos ni cuáles son las razones por las cuales estos se fugan.

El gerente general le ha pedido **definir el patrón característico de los clientes fugitivos y de los clientes no fugitivos con el objetivo de definir una serie de políticas comerciales** que permitan retener a estos potenciales clientes fugitivos.

#### Entregables:

2.1 Muestre al menos 3 gráficos que muestren diferencias entre el grupo que se fuga y el que no (3 ptos)

2.2 Implemente al menos un gráfico para la visualización de datos multidimensional. La idea es que este gráfico resuma los resultados obtenidos del proceso de análisis exploratorio de los datos (i.e, muestra en una visualización las diferencias en los atributos que caracterizan ambas poblaciones) (1 pto)

---
Variable | Descripción
------------- | -------------
1. ID | Identificador del cliente
2. Genero | Genero del cliente
3. Renta | Renta en pesos
4. Edad | Edad en años
5. NIV_Educ | Nivel educacional
6. E_Civil | Estado civil
7. COD_OfI | Código de la oficina 
8. Ciudad | Ciudad de la oficina
9. D_Marzo | Deuda de Marzo
10. D_Abril | Deuda de Abril 
11. D_Mayo | Deuda de Mayo
12. D_Junio | Deuda de Junio 
13. D_Julio | Deuda de Julio 
14. D_Agosto | Deuda de Agosto 
15. D_Septiembre | Deuda de Septiembre
16. M_Moroso | Meses en Mora
17. Monto | Monto preaprobado 
18. Seguro | Seguro de gravamen 
19. Fuga | Variable objetivo

In [385]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/dgarridoa/Lab2_Dataset/master/Fuga_Bancos.csv', index_col=0)
df.head()

,GENERO,RENTA,EDAD,NIV_EDUC,E_CIVIL,CIUDAD,COD_OFI,D_Marzo,D_Abril,D_Mayo,D_Junio,D_Julio,D_Agosto,D_Septiembre,M_MOROSO,MONTO,SEGURO,FUGA
0,M,746476,39.0,MED,CAS,LOS ANGELES,68,0,38292,0,434357,1766,9110,340,2,2000000,NO,NO FUGA
1,F,11901,49.0,MED,VIU,SANTIAGO,16,0,0,0,0,48,0,0,1,7500000,SI,NO FUGA
2,M,1651421,39.0,TEC,CAS,ANTOFAGASTA,90,0,604169,0,0,323,26489,2925,1,8000000,NO,NO FUGA
3,F,638969,36.0,UNV,CAS,SANTIAGO,85,0,5125,0,198998,94,0,105,1,2600000,NO,NO FUGA
4,M,860113,44.0,TEC,CAS,SANTIAGO,45,0,11946,0,73959,149,0,272,1,6400000,NO,NO FUGA

In [3]:
#estadísticas descriptivas
df.describe()

,RENTA,EDAD,COD_OFI,D_Marzo,D_Abril,D_Mayo,D_Junio,D_Julio,D_Agosto,D_Septiembre,M_MOROSO,MONTO
count,2.294000e+03,2294.000000,2294.000000,2.294000e+03,2.294000e+03,2.294000e+03,2.294000e+03,2294.000000,2294.000000,2294.000000,2294.000000,2.294000e+03
mean,8.527563e+05,43.585920,68.542720,1.530206e+05,2.726810e+05,1.032315e+05,1.899761e+05,566.848736,3578.760680,1940.639494,1.250218,3.477092e+06
std,1.379715e+06,8.059928,40.164768,4.981875e+05,4.023257e+05,8.706984e+05,6.705042e+05,1075.329388,8942.383207,9868.816840,0.751906,2.292933e+06
min,1.760000e+02,23.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,5.000000e+05
25%,1.003815e+05,39.000000,31.000000,0.000000e+00,1.767425e+04,0.000000e+00,0.000000e+00,7.000000,0.000000,0.000000,1.000000,1.700000e+06
50%,3.699345e+05,44.000000,56.000000,0.000000e+00,1.344745e+05,0.000000e+00,5.502000e+03,146.000000,0.000000,56.000000,1.000000,2.600000e+06
75%,8.267582e+05,50.000000,92.000000,0.000000e+00,3.744250e+05,0.000000e+00,1.749060e+05,629.750000,1486.250000,497.250000,2.000000,4.800000e+06
max,8.454317e+06,99.000000,155.000000,9.458161e+06,5.495534e+06,1.839696e+07,2.063461e+07,11187.000000,88837.000000,249652.000000,3.000000,8.000000e+06